/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
	background-color: #fffef8;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}
section {
	margin: 50px 0;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #b1663c;
}

h1 > span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1d6154;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #b1663c;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1;
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
	position: relative;

	& #edit {
		position: absolute;
		font-size: 1rem;
		cursor: pointer;
		color: black;
		margin-left: 2rem;
		top: 0.5rem;
		font-weight: normal;
		font-family: 'Work Sans';

		& i {
			margin-right: 0.25rem;
		}

		body:not(.logged-in) & {
			display: none;
		}
	}
}
#categories {
	display: flex;
	justify-content: center;
	margin-bottom: 2em;
	gap: 1em;

	& .category {
		padding: 0.5em 1em;
		border: 2px solid #1d6154;
		border-radius: 60px;
		font-weight: 700;
		color: #1d6154;
		cursor: pointer;
		font-family: 'Syne';

		&:hover,
		&.selected {
			background-color: #1d6154;
			color: white;
		}
	}

	body.logged-in & {
		opacity: 0;
		pointer-events: none;
	}
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type='submit'],
button:not(.close, .back, .delete-work) {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1d6154;
	margin: 2em auto;
	min-width: 180px;
	padding: 0 1.5em;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;

	&:hover,
	&:focus,
	&:active {
		background-color: #0e2f28;
	}
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

#contact,
#login {
	width: 50%;
	margin: auto;
	text-align: center;
}

#contact h2 {
	margin-bottom: 20px;
}

#login h2 {
	margin-top: 150px;
}

form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;

	& input,
	& button:not(.close, .back, .delete-work) {
		height: 50px;
		font-size: 1.2em;
		border: none;
		box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	}

	& label {
		margin: 2em 0 1em 0;
	}
}

#login p {
	text-align: center;
}

#login a {
	color: #3d3d3d;
	text-decoration: underline;
}

.error-message {
	color: #d32f2f;
	background-color: #ffebee;
	padding: 10px;
	margin-bottom: 16px;
}

nav a {
	color: inherit;
	text-decoration: none;

	&:hover {
		color: #b1663c;
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;

	&:not(.open) {
		display: none;
	}
}
.modal {
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	width: 630px;
	max-width: 90%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: stretch;

	& nav {
		display: flex;
		justify-content: space-between;
		align-self: stretch;

		& .close,
		& .back {
			cursor: pointer;
			background: none;
			border: none;
			font-size: 1.5rem;
		}
	}

	& form {
		margin-top: 0;
		padding: 0 4rem;
		box-shadow: none;
		display: flex;

		& h3 {
			font-size: 28px;
			text-align: center;
			margin-bottom: 2rem;
		}

		& .modal-gallery {
			display: flex;
			flex-wrap: wrap;
			gap: 10px;

			& .modal-work {
				width: calc(20% - 10px);
				position: relative;

				& img {
					width: 100%;
				}

				& .delete-work {
					background-color: black;
					border: none;
					color: white;
					cursor: pointer;
					font-size: 0.7rem;
					height: 1.4rem;
					border-radius: 4px;
					position: absolute;
					right: 0.5rem;
					top: 0.5rem;
				}
			}
		}

		& hr {
			width: 100%;
			border: none;
			border-top: 2px solid #ccc;
			margin: 2rem 0 0 0;
		}

		& .add-photo:hover {
			background-color: #0f4c44;
		}

		& label {
			font-weight: 500;
			font-size: 14px;
			margin-bottom: 7px;
		}

		& input[type='text'],
		& select {
			height: 51px;
			font-size: 1.2em;
			border: none;
			box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
			margin-bottom: 20px;
			padding: 0 15px;
		}

		& .file-input-container {
			margin-bottom: 20px;
		}

		& .file-input-placeholder {
			background-color: #e8f1f6;
			border-radius: 3px;
			padding: 28px;
			display: flex;
			flex-direction: column;
			align-items: center;
			cursor: pointer;
		}

		& .file-input-placeholder i {
			font-size: 4rem;
			color: #b9c5cc;
		}

		& .file-input-btn {
			background-color: #cbd6dc;
			color: #306685;
			border: none;
			padding: 10px 33px;
			border-radius: 50px;
			cursor: pointer;
			font-family: 'Work Sans';
			font-size: 14px;
			font-weight: 500;
		}

		& .file-info {
			font-size: 10px;
			color: #444;
		}

		& .file-preview {
			background-color: #e8f4f8;
			border-radius: 3px;
			height: 170px;
			display: flex;
			align-items: center;
			justify-content: center;
			overflow: hidden;
		}

		& .preview-image {
			max-width: 100%;
			max-height: 100%;
		}
	}

	/* When showing gallery form */
	&:not(.show-add-photo) {
		& .back {
			opacity: 0;
			pointer-events: none;
		}

		& #add-photo-form {
			display: none;
		}
	}

	/* When showing add photo form */
	&.show-add-photo #gallery-form {
		display: none;
	}
}
